<div style="width: 100%; text-align: center;"><h1>ANGULAR SEA BATTLE</h1></div>
<div style="width: 50%; display: inline-block; text-align: center;"><app-my-board></app-my-board></div>
<div style="width: 50%; display: inline-block; text-align: center;"><app-board></app-board></div>
<div style="margin-left: 3%; margin-right: 3%; margin-bottom: 50px;">
  <h3>Правила игры в Морской Бой:</h3>
  <p>Игра происходит на поле 10х10 клеточек каждого игрока, на котором размещается флот кораблей. Горизонтали обычно нумеруются сверху вниз, а вертикали помечаются буквами слева направо. При этом используются буквы русского алфавита от «а» до «к» (буквы «ё» и «й» обычно пропускаются) либо от "а" до "и" (с использованием буквы "ё"), либо буквы латинского алфавита от «a» до «j». Иногда используется слово «республика» или «снегурочка», так как в этих 10-буквенных словах ни одна буква не повторяется. Поскольку существуют различные варианты задания системы координат, то об этом лучше заранее договориться.
    <br>
    <br>
    Флот состоит из:
    <br>
    * 1 корабль - ряд из 4 клеток "четырёхпалубные"
    <br>
    * 2 корабля - ряд из 3 клеток "трёхбалубные"
    <br>
    * 3 корабля - ряд из 2 клеток "двухпалубные"
    <br>
    * 4 корабля - ряд из 1 клеточки "однопалубые".</p>
    <br>
  Игрок, выполняющий ход, совершает выстрел — называет вслух координаты клетки, в которой, по его мнению, находится корабль противника, например, «К1!» .
  Если выстрел пришёлся в клетку, не занятую ни одним кораблём противника, то следует ответ «Мимо!» и стрелявший игрок ставит на чужом квадрате в этом месте точку. Право хода переходит к сопернику.
  Если выстрел пришёлся в клетку, где находится многопалубный корабль (размером больше чем 1 клетка), то следует ответ «Ранил!». Стрелявший игрок ставит на чужом поле в эту клетку крестик, а его противник ставит крестик на своём поле также в эту клетку. Стрелявший игрок получает право на ещё один выстрел.
  Если выстрел пришёлся в клетку, где находится однопалубный корабль или последнюю непоражённую клетку многопалубного корабля, то следует ответ «Потоплен!» или «Убит!». Оба игрока отмечают потопленный корабль на листе. Стрелявший игрок получает право на ещё один выстрел.
    <br>
    <br>
  Победителем считается тот, кто первым потопит все 10 кораблей противника.
</div>
<div style="text-align: center; margin-top: 5px; position: fixed; left: 0; bottom: 0; width: 100%;">
  <app-to-shot></app-to-shot>
  <app-status></app-status>
</div>
